@media screen and (max-width:1120px) {
	.header .head,.nav_m,.i_service,.i_ma,.i_mb,.i_mc,.f_nav,.bq,.pst,.scd {
		width: 100%;
	}

	.i_service li {
		width: 184px;
		margin-right: 10px;
	}

	.i_ma .i_mal {
		width: 63%;
	}

	.i_mal dl dd {
		width: 360px;
	}

	.i_ma .i_mar {
		width: 34%;
		margin-right: 1%;
	}

	.i_mb .i_mbl {
		width: 48%;
	}

	.i_mb .i_mbr {
		width: 49%;
		margin-right: 1%;
	}

	.i_mbr dl dd {
		width: 285px;
		overflow: hidden;
	}

	.f_nav dl dd {
		width: 265px;
	}

	.scd .scd_r {
		float: left;
		width: 710px;
		padding-right: 10px;
		margin-left: 20px;
	}

	.contact dt,.contact dt img,.contact dd {
		width: 100%;
		float: left;
	}

	.team dl {
		width: 350px;
		margin-right: 10px;
	}

	.team dl dd {
		width: 175px;
	}

	.scd .scd_ra {
		width: 100%;
	}

	.case li {
		width: 225px;
		margin-right: 20px;
	}

	.case li img {
		width: 225px;
		height: 180px;
	}

	.f_nav ul {
		width: 100%;
		padding: 0 20px;
	}
}

@media screen and (max-width:990px) {
	.i_service li {
		width: 236px;
		margin-bottom: 10px;
	}

	.i_service {
		margin-bottom: 5px;
	}

	.i_ma .i_mal,.i_ma .i_mar,.i_mb .i_mbl,.i_mb .i_mbr,.f_nav ul,.f_nav dl {
		width: 100%;
	}

	.i_mal dl dd {
		float: left;
		margin-left: 20px;
		width: 500px;
	}

	.i_mbr dl dd {
		width: 540px;
	}

	.f_nav ul {
		margin-bottom: 15px;
	}

	.scd .scd_r {
		width: 500px;
	}

	.team dl {
		width: 100%;
		margin-right: 0;
	}

	.team dl dd {
		width: 320px;
	}

	.scd .scd_ra {
		width: 100%;
	}

	.case li {
		margin: 0 10px 20px;
	}

	.head .logo {
		width: 26%;
	}

	.head .h_r {
		width: 70%;
	}

	.head .h_r .tel {
		padding-right: 50px;
	}

	.head .h_r .tel a,.head .h_r .tel a:hover {
		font-size: 16px;
	}

	.active-img img {
		width: 49%;
	}

	.shutter {
		height: 230px!important;
	}
}

@media screen and (max-width:770px) {
	.header .head,.nav_m,.i_service,.i_ma,.i_mb,.i_mc,.f_nav,.bq,.pst,.scd {
		width: 490px;
	}

	.i_mbr dl dd {
		width: 280px;
	}

	.i_mal dl dd {
		width: 270px;
	}

	.tabBox .tabNav {
		width: 340px;
	}

	.i_service li {
		width: 230px;
	}

	.head .h_r {
		width: 100%;
		text-align: left;
	}

	.head .h_r span {
		margin-left: 0;
		margin-right: 10px;
	}

	.header .nav_bg {
		border: 0;
	}

	.nav_m {
		height: 1px;
	}

	.nav_m .n_icon {
		display: block;
	}

	.nav {
		width: 100%;
		background: #FFF;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 9999;
		display: none;
		border: 1px solid #ececec;
	}

	.nav li,.nav li a {
		width: 100%;
		height: auto;
		text-align: center;
	}

	.nav li .er,.nav li:hover .er {
		display: none;
	}

	.slider {
		display: block;
	}

	.scd .scd_l {
		margin-top: 15px;
	}

	.scd_l .l_name em {
		display: none;
	}

	.pst {
		text-align: left;
	}

	.scd .scd_l,.scd .scd_r {
		width: 100%;
	}

	.team dl dd {
		width: 300px;
	}

	.scd .scd_ra {
		width: 100%;
	}

	.case li {
		margin: 0 7px 20px;
	}

	.head .h_r .tel {
		position: absolute;
		bottom: 50px;
		left: 34%;
	}

	.header-slider {
		display: none;
	}

	.i_ma .i_mal {
		height: auto;
	}

	.i_mbr dl dd {
		height: auto;
	}

	.f_nav {
		width: 100%;
	}

	dl.our-culture {
		width: 40%;
		margin: 15px 5%;
	}
}

@media screen and (max-width:510px) {
	.header .head,.nav_m,.i_service,.i_ma,.i_mb,.i_mc,.f_nav,.bq,.pst,.scd {
		width: 320px;
	}

	.head .h_r span {
		margin-right: 0;
	}

	.head .h_r {
		margin-bottom: 30px;
	}

	.i_service li,.i_mal dl dd,.i_mbr dl dd {
		width: 100%;
		margin-right: 0;
		padding: 0 10px
	}

	.i_ma .i_mal,.tabBox .tabCont,.i_mb .box_m {
		height: auto;
	}

	.tabBox .tabNav {
		width: 100%;
		position: relative;
		top: 0;
	}

	.i_mal dl dt,.i_mbr dl dt {
		width: 100%;
		height: auto;
	}

	.i_mal .i_n li em {
		display: none;
	}

	.i_mal .i_n li p {
		width: 95%;
	}

	.f_nav ul li {
		width: 50%;
		margin-top: 10px;
	}

	.f_nav dl dd {
		width: 100%;
	}

	.f_nav dl dt {
		float: left;
		margin-top: 15px;
	}

	.bq span {
		height: auto;
		line-height: 130%;
		padding: 5px 0;
		margin: 0;
	}

	.bq {
		text-align: center;
	}

	.team dl dd {
		width: 145px;
	}

	.scd .scd_ra,.case li {
		width: 100%;
		text-align: center;
	}

	.case li img {
		width: 250px;
		height: 200px;
	}

	.case li {
		margin: 0 0 20px;
	}

	.logo img {
		display: inline-block;
		float: none;
	}

	.head .logo {
		width: 100%;
		text-align: center;
	}

	.head .h_r .tel {
		position: absolute;
		bottom: 10px;
		left: 22%;
		padding-right: 0;
	}

	span.head-companyname {
		position: absolute;
		left: 20%;
		bottom: 55px;
		font-size: 20px;
	}

	span.head-englishname {
		position: absolute;
		width: 330px;
		left: -20%;
		font-size: 13px;
	}

	.header {
		height: 210px;
	}

	.head .h_r .tel a,.head .h_r .tel a:hover {
		font-size: 15px;
	}

	.nav {
		top: 45px;
	}

	.i_mb .box_m {
		display: block;
	}

	dl.co-company {
		float: left;
		margin-top: 25px;
		width: 50%;
		padding: 0 10px;
	}

	img.zhizhi-img {
		margin: 0;
	}

	dl.our-culture {
		width: 100%;
		margin: 15px 0;
	}

	.i_mal dl dt img {
		margin-left: 40px;
	}

	.i_mbr dl dt img {
		margin-left: 60px;
	}

	p.head-companyname {
		font-size: 20px;
		width: 350px;
	}

	p.head-englishname {
		font-size: 14px;
		width: 350px;
	}

	span.main-companttext {
		bottom: 60px;
		left: 50%;
		margin-left: -175px;
	}
.news li{
  height: auto;
}
.news li p {
    width: 65%;
    word-wrap: break-word;
    line-height: 35px;
    font-size: 15px;
    height: auto;
    white-space: pre-line;
}
.news li em{
  font-size: 15px;
}
}
